.home-section:first-of-type .section-box {
  position: relative;
  z-index: 1;
}

.home-section:first-of-type::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  height: 120px;

  background: linear-gradient(
    to bottom,
    rgba(8,8,12,0.9),
    rgba(8,8,12,0)
  );

  pointer-events: none;
}