---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/home/Hero.astro';
---

<BaseLayout title="Retro Gamers">

  <section class="home-hero">
    <div class="container">
      <Hero />
    </div>
  </section>

</BaseLayout>