---
import '../../styles/components/reviews.css';
import ReviewCard from '../cards/ReviewCard.astro';

const { posts = [] } = Astro.props;

const reviews = posts.slice(0, 5);
---

<div class="section-box rg-reviews">

  <div class="rg-reviews__header">

    <div class="rg-reviews__title">
      <h2>Recensioni</h2>
      <p>Le ultime prove dal mondo console, arcade e home computer.</p>
    </div>

    <a href="/recensioni/" class="rg-reviews__link">
      Vedi tutte
    </a>

  </div>

  <div class="rg-reviews__rail" aria-label="Ultime recensioni">

    {reviews.map((post) => (
      <ReviewCard post={post} />
    ))}

  </div>

</div>