---
import { getArchiveUrl } from '../../lib/routes';
---

<nav class="nav-desktop">

  <a href={getArchiveUrl('review')}>Recensioni</a>
  <a href={getArchiveUrl('feature')}>Speciali</a>
  <a href={getArchiveUrl('guide')}>Guide</a>
  <a href={getArchiveUrl('memories')}>Memories</a>

<div class="nav-item has-dropdown">

  <button class="nav-link">

    Piattaforme

  </button>

  <!-- QUI poi attacchiamo il menu -->

  <!-- <PlatformsMenu /> -->

</div>

</nav>