---
import '../../styles/components/header/dropdown.css';
import { getPostUrl } from '../../lib/routes';

const { posts = [] } = Astro.props;

const finalPosts = posts.slice(0, 5);
---

<div class="rg-dropdown rg-dropdown--news">

  <div class="rg-dropdown__panel">

    {finalPosts.map((post) => {
      const image = post.featuredImage?.asset?.url;
      const category = post.categories?.[0]?.name || post.type || '';

      return (
        <a href={getPostUrl(post)} class="rg-dropdown__item rg-dropdown__item--news">

          <div class="rg-dropdown__thumb">
            {image && (
              <img src={image} alt={post.title || ''} loading="lazy" />
            )}
          </div>

          <div class="rg-dropdown__content">

            {category && (
              <div class="rg-dropdown__meta">
                {category}
              </div>
            )}

            <div class="rg-dropdown__title">
              {post.title}
            </div>

          </div>

        </a>
      );
    })}

    <a href="/news/" class="rg-dropdown__more">
      Vedi tutte le news <span>→</span>
    </a>

  </div>

</div>