---
import '../styles/global.css';
import '../styles/components/hero.css';
import '../styles/components/card.css';
import '../styles/components/header/header.css';
import '../styles/components/reviews.css';
import { getAllPosts, groupPosts } from '../lib/posts';

const allPosts = await getAllPosts();

const { reviews, specials, memories, latest, news } = groupPosts(allPosts);
import Header from '../components/Header.astro';
---

<html lang="it">
<meta charset="UTF-8" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Retro Gamers</title>

    <!-- FONT -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Orbitron:wght@500;700&display=swap" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

   <!-- HEADER -->


<Header reviews={reviews} news={news} />


    <!-- MAIN -->
    <main>
      <slot />
    </main>

    <!-- SCRIPTS -->
    <script src="/scripts/card-effects.js" defer></script>

  </body>
</html>